*,body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* Website */
#main{
    background: linear-gradient(120deg, #166365 0%, #0db6bf 100%);
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: scroll;
}

#main::-webkit-scrollbar{
    display: none;
}

.container{
    padding: 5% 5%;
    text-align: center;
    z-index: 3;
    color: #fff;
}

header{
    text-align: center;
}

.container header.header .city{
    font-size: 2.5em;
    font-weight: 300;
}

.content{
    margin: 2em 0 0 0;
    text-align: center;
}

.temp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp i.fa{
    font-size: 6em;
    color: #fff;
}

.temp h1{
    font-size: 4.5em;
    color: #fff;
    font-weight: lighter;
    letter-spacing: -.1em;
}

.informations{
    display: none;
}

.informations ul li{
    display: inline-block;
    padding: 2% 3%;
    margin-top:3%;
    font-size: 1.5em;
    font-weight: lighter;
}

/*Select  */
.search {
    margin-bottom: 3em;
}
.search select{
    padding: .5em 1em;
    background: rgba(255,255,255,.3);
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.2em;
    width: 90%;
    border-radius: 10em;
    outline: none;
}

.search select option{
    background: rgba(0, 0, 0, .6);
    border-radius: 10em;
    border: 1px solid color;
    padding: 1em;
}

.next-days{
    padding-bottom: 5em;
    display: none;
}

.next-days ul li{
    list-style: none;
    background: rgba(0,0,0,.3);
    padding: 1.2em;
    display: flex;
    color: #fff;
    font-size: 1.1em;
    font-weight: lighter;
    align-items: center;
    margin-bottom: .1em;
    position: relative;
}

.next-days i.fa{
    width: 2em;
}

.tempMax_min{
    position: absolute;
    right: 1em;
    top: 0;
    padding: 1.2em 0;
}

@media screen and (min-width: 1080px){
    .next-days ul li{
        width: 50%;
        margin: 0 auto;
    }

    .search select{
        padding: .5em 1em;
        background: rgba(255,255,255,.3);
        border: 1px solid #fff;
        color: #fff;
        font-size: 1em;
        width: 30%;
        border-radius: 10em;
        outline: none;
    }
}
